/* Style the body */
body {
  background-color: white;
}

.container {
  margin-top: 15vh;
  position: relative;
}

.row {
  background-color: white;
  color: #00b0f0;
  text-align: center;
  padding: 10px;
}

li {
  text-align: left;
}

/* Logo */
#header {
  align-content: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #00b0f0;
}

#header img{
  width: 90vw;
}

/* Images */
.img {
  background-color: #aaa;
  width: 100%;
}
